<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Time Series: Independent Practice

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

## Walmart Sales Data

For this independent practice, we'll analyze Walmart's weekly sales data over a two-year period from 2010 to 2012.

The data set is again separated by store and department, but we'll focus on analyzing one store for simplicity.

The data include:

* `Store`: The store number.
* `Dept`: The department number.
* `Date`: The week.
* `Weekly_Sales`: Sales for the given department in the given store.
* `IsHoliday`: Whether the week is a special holiday week.

### 1) Preprocess the data using Pandas.

* **Load the data.**
* **Convert the `Date` column to a `datetime` object.**
* **Set `Date` as the index of the DataFrame.**

In [2]:
walmart = pd.read_csv('data/train.csv')

In [3]:
walmart.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
pd.to_datetime(walmart.Date)

0        2010-02-05
1        2010-02-12
2        2010-02-19
3        2010-02-26
4        2010-03-05
5        2010-03-12
6        2010-03-19
7        2010-03-26
8        2010-04-02
9        2010-04-09
10       2010-04-16
11       2010-04-23
12       2010-04-30
13       2010-05-07
14       2010-05-14
15       2010-05-21
16       2010-05-28
17       2010-06-04
18       2010-06-11
19       2010-06-18
20       2010-06-25
21       2010-07-02
22       2010-07-09
23       2010-07-16
24       2010-07-23
25       2010-07-30
26       2010-08-06
27       2010-08-13
28       2010-08-20
29       2010-08-27
            ...
421540   2012-04-06
421541   2012-04-13
421542   2012-04-20
421543   2012-04-27
421544   2012-05-04
421545   2012-05-11
421546   2012-05-18
421547   2012-05-25
421548   2012-06-01
421549   2012-06-08
421550   2012-06-15
421551   2012-06-22
421552   2012-06-29
421553   2012-07-06
421554   2012-07-13
421555   2012-07-20
421556   2012-07-27
421557   2012-08-03
421558   2012-08-10
421559   2012-08-17
421560   2012-08-24
421561   2012-08-31
421562   2012-09-07
421563   2012-09-14
421564   2012-09-21
421565   2012-09-28
421566   2012-10-05
421567   2012-10-12
421568   2012-10-19
421569   2012-10-26
Name: Date, Length: 421570, dtype: datetime64[ns]

In [5]:
walmart.index = walmart.Date

In [6]:
walmart.head()

            Store  Dept        Date  Weekly_Sales  IsHoliday
Date
2010-02-05      1     1  2010-02-05      24924.50      False
2010-02-12      1     1  2010-02-12      46039.49       True
2010-02-19      1     1  2010-02-19      41595.55      False
2010-02-26      1     1  2010-02-26      19403.54      False
2010-03-05      1     1  2010-03-05      21827.90      False

### 2) Filter the DataFrame to Store 1 sales and aggregate over departments to compute the total weekly sales per store. Store this in a new DataFrame.

In [7]:
walmart_1 = walmart.loc[walmart.Store == 1]

In [13]:
walmart_1.tail()

            Store  Dept        Date  Weekly_Sales  IsHoliday
Date
2012-08-31      1    99  2012-08-31         20.06      False
2012-09-07      1    99  2012-09-07          0.05       True
2012-09-14      1    99  2012-09-14          0.03      False
2012-10-05      1    99  2012-10-05        635.00      False
2012-10-12      1    99  2012-10-12         80.00      False

In [18]:
walmart_1_agg = walmart_1['Weekly_Sales'].groupby(walmart_1.index).sum()

In [31]:
walmart_1_agg = pd.DataFrame(walmart_1_agg)

In [32]:
walmart_1_agg['IsHoliday'] = walmart_1.loc[walmart_1.Dept == 99]['IsHoliday']

In [33]:
walmart_1_agg.head()

           Weekly_Sales IsHoliday
Date
2010-02-05  1.19989e+08       NaN
2010-02-12  1.18221e+08       NaN
2010-02-19  1.17674e+08       NaN
2010-02-26    1.015e+08       NaN
2010-03-05  1.13501e+08       NaN

### 3) Plot the rolling mean for `Weekly_Sales`. What general trends do you observe?

### 4) Compute the `1`, `13`, and `52` autocorrelations for `Weekly_Sales` and/or create an autocorrelation plot.

### 5) Create a decomposition plot for the Store 1 sales data.

### 6) Based on the analyses above, what can we deduce about this time series?