In [5]:
b = ['a', 'b', 'c']
for i in enumerate(b):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [8]:
i

(2, 'c')

In [9]:
data = [['Alison', 3.0, 5.0, 4.0, 3.0, '', '', 5.0, 5.0, ''],
 ['April', 4.0, 5.0, 5.0, 3.0, '', '', 3.0, '', 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, '', '', 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, '', 4.0, 4.0, ''],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, '', '', 3.0],
 ['Dave H', 4.0, 5.0, '', 5.0, '', '', '', '', ''],
 ['Deepthi', 3.0, 5.0, '', 2.0, '', '', '', '', 2.0],
 ['Ramesh', 3.0, 4.0, '', 3.0, '', '', '', '', 4.0],
 ['Hugh', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, '', 3.0, '', '', '', '', ''],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, '', '', '', ''],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, '', 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, '', '', '', '', 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, '', 3.0, '', '', 4.0, '', ''],
 ['Otto', 4.0, 2.0, 2.0, 5.0, '', '', 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, '', '', 4.0, 3.0, ''],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['Cheong-tseng', 3.0, 1.0, '', '', '', '', 4.0, '', '']]

In [23]:
count_dict = {}
for i in range(len(data)):
    count = -1
    try:
        data[i] + 0
    except:
        count = count +1
    count_dict[data[i][0]] = count

In [25]:
print(range(len(data)))
print(count)
count_dict

range(0, 20)
0

{'Alison': 0,
 'April': 0,
 'Vijay': 0,
 'Vanessa': 0,
 'Isabel': 0,
 'India': 0,
 'Dave H': 0,
 'Deepthi': 0,
 'Ramesh': 0,
 'Hugh': 0,
 'Alex': 0,
 'Ajay Anand': 0,
 'David Feng': 0,
 'Zach': 0,
 'Matt': 0,
 'Markus': 0,
 'Otto': 0,
 'Alessandro': 0,
 'Rocky': 0,
 'Cheong-tseng': 0}