# Combining Web Scrape with Company Data via Entity Concordance

Company data was fetched via SQL and now needs to be combined with the data scraped from UN PRI to determine whether UN PRI data has predictive power over some of our fields. However, we must first handle entity concordance between the two data sets, as the naming conventions differ from UN PRI to Preqin.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.set_option('display.max_columns', 200)

UN PRI Name Upload

In [5]:
entities = pd.read_csv('./datasets/PRI_urls.csv')

In [6]:
entities.head()

                               name                                    id
0  123 Investment Managers (123 IM)  8D30DD50-49F0-4CD1-A6B1-406A18F02F37
1           1919 Investment Counsel  6DD817D4-87D8-4110-975B-698F8DCB7792
2               1Sharpe Capital LLC  E740F8EA-BD88-4EC5-836C-50515F749B20
3                         21 Invest  553A060D-E007-4ACF-A26F-77C88EDD4D26
4        27Four Investment Managers  5047A032-8A36-406C-A32C-5201E24F9FA2

Preqin Name Upload

In [7]:
preqin_esg = pd.read_csv('./datasets/preqin_esg.csv')

In [8]:
entityname_list = entities['name'].tolist()

In [ ]:
#When you web scrape, sometimes the encoding is lost in translation so you have to encode it to utf-8 proactively
entityname_list = entittyname_list.str.encode('utf-8')

Need to clean both series (lower, delete corporate suffixes) and make new series for both of identical length with clean names.

In [9]:
preqin_names = preqin_esg['Firm Name'].str.lower()
preqin_names.drop_duplicates(inplace=True)
preqin_names.str.strip()
preqin_names = preqin_names.replace(to_replace=[' llc',' ltd',' inc',' oy',',','.',' sà rl',' sarl',' nv',' pty','(pty)',' plc',' pte',' limited',' llp',' bv',' sgr',' sàrl',' spa',' avh',' lp'], value='')
preqin_names = preqin_names.replace(to_replace='-Fonden ', value='')
preqin_names.head()

0           private advisors
2            tkp investments
4    access capital partners
6      adams street partners
8             schroder adveq
Name: Firm Name, dtype: object

In [10]:
unpri_names = entities['name'].str.lower()
unpri_names = unpri_names.str.replace('&amp;','&')
unpri_names.str.strip()
unpri_names = unpri_names.replace(to_replace=[' llc',' ltd',' inc',' oy',',','.',' sà rl',' sarl',' nv',' pty','(pty)','(provisional signatory)',' plc',' pte',' limited',' llp',' bv',' sgr',' sàrl',' spa',' avh',' lp'], value='')
unpri_names = unpri_names.replace(to_replace='kohlberg kravis roberts & co', value='kkr')
unpri_names.head()

0    123 investment managers (123 im)
1             1919 investment counsel
2                 1sharpe capital llc
3                           21 invest
4          27four investment managers
Name: name, dtype: object

With clean names between the Preqin and UN PRI data sets, I must now run a distance algorithm between the strings in a resulting match_df (with duplicating entries for both unpri and preqin). The string distance function was stolen online from https://stackabuse.com/levenshtein-distance-and-text-similarity-in-python/.

In [11]:
def levenshtein_ratio_and_distance(s, t, ratio_calc = False):
    """ levenshtein_ratio_and_distance:
        Calculates levenshtein distance between two strings.
        If ratio_calc = True, the function computes the
        levenshtein distance ratio of similarity between two strings
        For all i and j, distance[i,j] will contain the Levenshtein
        distance between the first i characters of s and the
        first j characters of t
    """
    # Initialize matrix of zeros
    rows = len(s)+1
    cols = len(t)+1
    distance = np.zeros((rows,cols),dtype = int)

    # Populate matrix of zeros with the indeces of each character of both strings
    for i in range(1, rows):
        for k in range(1,cols):
            distance[i][0] = i
            distance[0][k] = k

    # Iterate over the matrix to compute the cost of deletions,insertions and/or substitutions    
    for col in range(1, cols):
        for row in range(1, rows):
            if s[row-1] == t[col-1]:
                cost = 0 # If the characters are the same in the two strings in a given position [i,j] then the cost is 0
            else:
                # In order to align the results with those of the Python Levenshtein package, if we choose to calculate the ratio
                # the cost of a substitution is 2. If we calculate just distance, then the cost of a substitution is 1.
                if ratio_calc == True:
                    cost = 2
                else:
                    cost = 1
            distance[row][col] = min(distance[row-1][col] + 1,      # Cost of deletions
                                 distance[row][col-1] + 1,          # Cost of insertions
                                 distance[row-1][col-1] + cost)     # Cost of substitutions
    if ratio_calc == True:
        # Computation of the Levenshtein Distance Ratio
        Ratio = ((len(s)+len(t)) - distance[row][col]) / (len(s)+len(t))
        return Ratio
    else:
        # print(distance) # Uncomment if you want to see the matrix showing how the algorithm computes the cost of deletions,
        # insertions and/or substitutions
        # This is the minimum number of edits needed to convert string a to string b
        return "{}".format(distance[row][col])

In [12]:
levenshtein_ratio_and_distance('word', 'wordy', ratio_calc = True)

0.8888888888888888

In [13]:
levenshtein_ratio_and_distance('wordiiiiiiiiii', 'wordyiiiiiiiiiii', ratio_calc = True)

0.9333333333333333

#### CAUTION: This loop takes ~14 hours to run!!!

The following function runs the distance from every Preqin name for every single UN PRI name in the function.

In [147]:
new_list = []
for i in preqin_names:
    for j in unpri_names:
        new_list.append([i,j,levenshtein_ratio_and_distance(i,j,ratio_calc = True)])

In [54]:
# new_list

Convert resulting list to df

In [433]:
new_df = pd.DataFrame(new_list,columns=['preqin','unpri','score'])
new_df.sort_values(by="score", ascending=False).head()

                               preqin                         unpri  score
1835032               appian holdings               appian holdings    1.0
4043750                        amundi                        amundi    1.0
3098083  hudson clean energy partners  hudson clean energy partners    1.0
5392753             adamantem capital             adamantem capital    1.0
5086431          great lakes advisors          great lakes advisors    1.0

Need one best score per Preqin entity, rather than all the scores of all Preqin entities, so I group by score and only present max.

In [434]:
idx = new_df.groupby(['preqin'])['score'].transform(max) == new_df['score']
matched_df = new_df[idx]

In [435]:
matched_df.loc[matched_df['score'] > 0.93].sort_values('score',ascending=True).head()

,preqin,unpri,score
423508,kbc asset management,kbc asset management nv,0.930233
4992315,delcap asset management,ecp asset management,0.930233
3644855,causeway capital management,causeway capital management llc,0.931034
3000248,deerpath capital management,"deerpath capital management, lp",0.931034
3604428,securis investment partners,securis investment partners llp,0.931034

A score of 0.93 or better seems to have a decent tradeoff between accuracy and false positives. I could create better matching model with identifying factors but only identifying factors that look interesting for potential overlap in UN PRI are AUM on first page--this is clarified in Phase 2 wish list below.

In [436]:
matched_df['unpri match'] = np.where(matched_df['score']>=0.93, matched_df['unpri'], None)
matched_df.head()

C:\Users\michael.amenta\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,preqin,unpri,score,unpri match
1331,private advisors,"private advisors, llc",0.864865,None
3107,tkp investments,pggm investments,0.838710,None
3639,access capital partners,access capital partners,1.000000,access capital partners
5456,adams street partners,adams street partners llc,0.913043,None
8673,schroder adveq,schroders,0.695652,None

Next few lines of code attempt to organize the dataframe to include score, and both clean and original entity names for both UN PRI and Preqin so that we can merge the data sets.

In [437]:
combined_df = matched_df.drop('unpri',axis=1)

In [479]:
#combine cleaned Preqin name with original Preqin name
preqin_matches = pd.DataFrame(preqin_esg['Firm Name'])
preqin_matches['preqin_clean'] = preqin_names

preqin_matches.head()

                 Firm Name             preqin_clean
0         Private Advisors         private advisors
2          TKP Investments          tkp investments
4  Access Capital Partners  access capital partners
6    Adams Street Partners    adams street partners
8           Schroder Adveq           schroder adveq

Merging data is useful for disparate data sets (out of order) but that have a common set of columns--similar to joining in SQL.

In [439]:
combined_df = pd.merge(left=combined_df,right=preqin_matches,on=None,left_on='preqin',right_on='preqin_clean')
combined_df.tail()

,preqin,score,unpri match,Firm Name,preqin_clean
3859,l&r capital,0.818182,None,L&R Capital,l&r capital
3860,institutional investment partners denmark,0.705882,None,Institutional Investment Partners Denmark,institutional investment partners denmark
3861,yellowdog,0.413793,None,Yellowdog,yellowdog
3862,noles properties,0.592593,None,Noles Properties,noles properties
3863,agbe capital,0.846154,None,AGBE Capital,agbe capital

In [441]:
combined_df.to_csv(r'C:\Users\michael.amenta\DAT_MA\datasets\entity_concord.csv')